@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



html{scroll-behavior: smooth;}
html, body{max-width: 100%;}
#wrap{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
}



/*____________________ PC ____________________*/
/*__________ Header __________*/
header{
  width: 100%;
  height: 1000px;
  text-transform: uppercase;
  margin: auto;
  position: relative;
}

/* Visual */
header .visual{
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: url(../image/visual.png) no-repeat center center;
  background-size: cover;
}
header .logo{
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
header .logo img{width: 60px;}
header .heading{
  position: absolute;
  width: 800px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: 300;
  color: #f0cfc3;
}
header .h01, header .h02{
  display: flex;
  justify-content: space-between;
}
header .h01 span, header .h02 span{animation-fill-mode: forwards;}
header .htxt01{
  transform: rotate(180deg);
  animation: title01 2s 1s;
}
header .htxt02{
  transform: rotateY(180deg);
  animation: title02 2s 1s ;
}
header .htxt03{
  transform: rotate(-180deg);
  animation: title03 2s 1s;
}
header .htxt04{
  transform: rotateX(-180deg);;
  animation: title04 2s 1s;
}
header .htxt05{
  transform: rotate(-180deg);
  animation: title05 2s 1s;
}

/* Menu */
header ul{
  position: absolute;
  left: 50%;
  bottom: 370px;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #bfcad6;
}
header ul li{transition: 0.5s;}
header ul li:hover{color: #bb2649;}


/*__________ Menu __________*/
/* Menu Title */
.title{
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid black;
  width: 300px;
  text-align: center;
  padding-bottom: 5px;
}

/* Menu01 - Minimalism */
#gnb01{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #f0cfc3;
}
.content01{
  position: relative;
  width: 400px;
  height: 450px;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 2px solid #bb2649;
  padding: 40px 100px;
}
.content01 span{
  font-size: 50px;
  font-weight: 200;
  color: #bb2649;
  line-height: 145px;
  display: block;
}
.content01 span:nth-child(1), .content01 span:nth-child(3){
  text-transform: uppercase;
  font-weight: 400;
}
.dot01{
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #bb2649;
  border-radius: 50%;
  bottom: -40px;
  left: -7%;
  cursor: pointer;
}
.caption01{
  position: absolute;
  bottom: 90px;
  left: -10%;
  width: 700px;
  height: 430px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  line-height: 480px;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.dot01:hover .caption01{
  opacity: 1;
  visibility: visible;
}
.caption01 div{
  position: absolute;
  width: 600px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 100;
  line-height: 50px;
}
.caption01 div p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.caption01 a{
  position: absolute;
  width: 50px;
  height: 25px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 40px auto;
  background-color: black;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  padding: 5px 15px;
  border-radius: 5px;
}
.caption01 a:hover{
  background-color: white;
  color: black;
}

/* Menu02 - Big & Detail Text */
#gnb02{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #bfcad6;
}
.content02{
  position: absolute;
  width: 90%;
  height: 700px;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.content02 span{
  display: block;
  font-size: calc(30px + 2vw);
  font-weight: 100;
  line-height: 60px;
}
.content02 span b{
  text-transform: uppercase;
  font-size: calc(40px + 2vw);
  font-weight: 300;
}
.content02 p{
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: calc(100px + 2vw);
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
.dot02{
  position: absolute;
  top: -10%;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.caption02{
  position: absolute;
  top: 60px;
  left: 50%;
  width: 700px;
  height: 270px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  line-height: 300px;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.dot02:hover .caption02{
  opacity: 1;
  visibility: visible;
}
.caption02 div{
  position: absolute;
  width: 600px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 100;
  line-height: 50px;
}
.caption02 div p{
  position: absolute;
  top: -65px;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.caption02 a{
  position: absolute;
  width: 50px;
  height: 25px;
  bottom: -20px;
  right: 40px;
  display: block;
  margin: 40px auto;
  background-color: white;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  padding: 5px 15px;
  border-radius: 5px;
}
.caption02 a:hover{
  background-color: #bb2649;
  color: white;
}

/* Menu03 - Intro Video */
#gnb03{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #111111;
  display: flex;
}
#gnb03 .title{
  color: white;
  border-bottom: 3px solid white;
  z-index: 10;
}
.videoframe video{
  position: absolute;
  width: 100%;
  height: 100%;
}
.content03{
  position: relative;
  width: 800px;
  height: 450px;
  z-index: 10;
  border: 3px solid #bb2649;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1370px;
}
.content03 span{
  position: absolute;
  width: 1000px;
  height: 100px;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-transform: capitalize;
}
.dot03{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bb2649;
  bottom: -25px;
  left: -4%;
  cursor: pointer;
}
.caption03{
  position: absolute;
  bottom: 75px;
  left: -130%;
  width: 1000px;
  height: 350px;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.3);
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.dot03:hover .caption03{
  opacity: 1;
  visibility: visible;
}
.caption03 div{
  position: absolute;
  width: 600px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 100;
  line-height: 50px;
}
.caption03 div p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.caption03 a{
  position: absolute;
  width: 50px;
  height: 25px;
  bottom: -105px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 40px auto;
  background-color: black;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  padding: 5px 15px;
  border-radius: 5px;
}
.caption03 a:hover{
  background-color: white;
  color: black;
}

/* Menu04 - Glassmorphism */
#gnb04{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #bb2649;
}
#gnb04 .title{
  color: white;
  border-bottom: 3px solid white;
}
.content04{
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}
.content04 span{
  position: absolute;
  width: 921px;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  color: #bfcad6;
  font-size: calc(70px + 1vw);
  display: flex;
  font-weight: 300;
}
.glass{
  position: absolute;
  width: 100%;
  height: 700px;
  top: 200px;
  left: 30px;
}
.glass span{
  position: absolute;
  max-width: 100%;
  height: 100%;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
}
.glass span:nth-child(1){
  width: 150px;
  height: 300px;
  top: 250px;
  left: 40%;
}
.glass span:nth-child(2){
  width: 300px;
  height: 200px;
  top: 400px;
  left: 20%;
}
.glass span:nth-child(3){
  width: 550px;
  height: 100px;
  top: 200px;
  left: 30%;
}
.glass span:nth-child(4){
  width: 300px;
  height: 120px;
  top: 75px;
  left: 30%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
}
.glass span:nth-child(5){
  width: 150px;
  height: 150px;
  top: 50px;
  left: 60%;
}
.glass span:nth-child(6){
  width: 170px;
  height: 130px;
  top: 520px;
  left: 62%;
}
.glass span:nth-child(7){
  width: 150px;
  height: 200px;
  top: 90px;
  left: 50%;
}
.glass span:nth-child(8){
  width: 120px;
  height: 120px;
  top: 30px;
  left: 70%;
}
.glass span:nth-child(9){
  width: 270px;
  height: 190px;
  top: 350px;
  left: 75%;
}
.glass span:nth-child(10){
  width: 190px;
  height: 120px;
  top: 400px;
  left: 60%;
}
.glass span:hover{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
}
.glass span:nth-child(4):hover{
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
}
.dot04{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #bfcad6;
  top: 150px;
  left: 10%;
  cursor: pointer;
}
.caption04{
  position: absolute;
  top: 100px;
  left: 10%;
  width: 600px;
  height: 450px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #bfcad6;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.dot04:hover .caption04{
  opacity: 1;
  visibility: visible;
}
.caption04 div{
  position: absolute;
  width: 600px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 100;
  line-height: 50px;
}
.caption04 div p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}
.caption04 a{
  position: absolute;
  width: 50px;
  height: 25px;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 40px auto;
  background-color: white;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  padding: 5px 15px;
  border-radius: 5px;
}
.caption04 a:hover{
  background-color: #bb2649;
  color: white;
}


/*__________ Footer __________*/
footer{
  position: relative;
  width: 100%;
  height: 137px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img{
  width: 50px;
  filter: grayscale(100);
  margin-bottom: 10px;
}
footer span{
  font-size: 14px;
  font-weight: 200;
}
footer span b{
  text-transform: uppercase;
  font-weight: 500;
}


/*__________ Animation __________*/
@keyframes title01{
  25%{transform: rotate(135deg);}
  50%{transform: rotate(90deg);}
  75%{transform: rotate(45deg);}
  100%{transform: rotate(0);}
}
@keyframes title02{
  70%{transform: rotateY(0);}
  100%{transform: rotateX(0);}
}
@keyframes title03{
  0%{transform: rotate(-180deg);}
  70%{transform: rotate(-90deg);}
  100%{transform: rotate(0);}
}
@keyframes title04{
  0%{transform: rotateX(-180deg);}
  70%{transform: rotateX(-90deg);}
  100%{transform: rotateX(0);}
}
@keyframes title05{
  25%{transform: rotate(-135deg);}
  50%{transform: rotate(-90deg);}
  75%{transform: rotate(-45deg);}
  100%{transform: rotate(0);}
}



/*____________________ Tablet ____________________*/
@media all and (max-width: 1023px){
  header .heading{width: 500px;}
  .content02 span{font-size: 40px;}
  .content02 span b{font-size: 50px;}
  .content02 p{font-size: 90px;}
  .caption02{width: 600px;}
  .caption02 div{left: 57%;}
  .content03 span{
    font-size: 60px;
    font-size: 3.125vw;
  }
  .caption03{
    width: 700px;
    left: 40%;
  }
  .content04>span{
    width: 700px;
    left: 400px;
    font-size: 80px;
  }
  .glass span:nth-child(3){display: none;}
  .glass span:nth-child(4){
    width: 270px;
    left: 16%;
  }
  .glass span:nth-child(6){display: none;}
  .glass span:nth-child(8){display: none;}
  .glass span:nth-child(9){display: none;}
  .caption04{

    width: 530px;
  }
}



/*____________________ Mobile ____________________*/
@media all and (max-width:767px){
  html{overflow: visible;}
  header .heading{width: 350px;}
  header ul li{font-size: 20px;}
  .title{font-size: 24px;}
  .content01{
    width: 150px;
    height: 400px;
  }
  .content01 span{
    position: absolute;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .content01 span:nth-child(1){top: 50px;}
  .content01 span:nth-child(2){top: 160px;}
  .content01 span:nth-child(3){top: 270px;}
  .dot01{
    width: 40px;
    height: 40px;
    bottom: -20px;
  }
  .caption01{
    width: 320px;
    height: 420px;
    bottom: 50px;
    left: 100%;
  }
  .caption01 div{
    width: 300px;
    top: 40px;
    font-size: 15px;
  }
  .caption01 div p{margin-bottom: 45px;}

  .caption01 a{bottom: 5px;}
  .content02 span{font-size: calc(30px + 1vw);}
  .content02 span b{
    font-size: calc(40px + 1vw);
    display: block;
  }
  .content02 p{font-size: calc(46px + 2vw);}
  .dot02{
    width: 40px;
    height: 40px;
  }
  .caption02{
    width: 320px;
    height: 500px;
  }
  .caption02 div{
    width: 280px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
  }
  .caption02 div p{top: -100px;}
  .caption02 a{bottom: 10px;}
  .content03 span{font-size: 24px;}
  .dot03{left: 5%;}
  .caption03{
    width: 330px;
    left: 100%;
  }
  .caption03 div{font-size: 14px;}
  .content04>span{
    width: 370px;
    top: 260px;
    left: 210px;
    font-size: 58px;
  }
  .glass span:nth-child(2){left: 30%;}
  .glass span:nth-child(4){
    width: 180px;
    height: 80px;
    left: 14%;
  }
  .glass span:nth-child(5){display: none;}
  .glass span:nth-child(10){display: none;}
  .dot04{
    width: 40px;
    height: 40px;
    top: 20%;
  }
  .caption04{
    width: 330px;
    height: 600px;
    left: 50%;
  }
  .caption04 div{
    width: 250px;
    top: 20px;
    font-size: 15px;
  }
  .caption04 div p{margin-bottom: 30px;}
  .caption04 a{bottom: -100px;}
}
